.container{
    font-family: 'Arbutus Slab', serif;
    display: flex;
    flex-direction: row;
}

.container-navbar{
    width:  19%;
    margin: 30px 30px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    text-align: center;
    border-radius: 10px;
}

#title{
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.nav-item{
    cursor: pointer;
    padding: 20px;
    transition: 0.4s;
}

.nav-item:hover{
    background-color: #FBBAAC;
    color: white;
    transition: 0.4s;
    border-radius: 4px;

}

.active{ 
    background-color: #FBBAAC;
    color: white;
    transition: 0.4s;
    border-radius: 4px;
}

.router{
    width: 80%;
}

@media screen and (max-width: 767px) {

    .container-navbar{
        width:  30%;
        margin: 10px 0px 10px 2px;
        border: 1px solid rgba(0, 0, 0, 0.253);
        text-align: center;
    }
    
    #title{
        padding: 10px 0px;
    }

    .nav-item{
        padding: 10px;
    }
}
