<app-banner-menu></app-banner-menu>
<div class="container">
    <div class="container-navbar">
        <h1 id="title">Menu</h1>
        <nav>
            <ul class="navbar">
                <li class="nav-item" [ngClass]="{'active': isCardapioPage}" routerLink="./edit-cardapio">Cardapio</li>
                <li class="nav-item" [ngClass]="{'active': isEditProdutoPage}" routerLink="./cadastrar-produto">Cadastrar produto</li>

                
            </ul>
        </nav>
    </div>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</div>