.container{
    font-family: 'Arbutus Slab', serif;
    display: flex;
    flex-direction: row;
}

.container-navbar{
    width:  19%;
    margin: 30px 30px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    text-align: center;
}

#title{
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.nav-item{
    cursor: pointer;
    padding: 20px;
    transition: 0.4s;
}

.nav-item:hover{
    background-color: #FBBAAC;
    color: white;
    transition: 0.4s;
    border-radius: 4px;

}

.active{ 
    background-color: #FBBAAC;
    color: white;
    transition: 0.4s;
    border-radius: 4px;
}

.router{
    width: 80%;
}
