<div class="menu-container">
    <nav>
        <ul>
            <li><a routerLink="edit-cardapio"><div>Cardapio</div></a></li>

         <!--   <li><a routerLink="edit-header">Menu</a></li>
            <li><a routerLink="edit-header">Editar Cabeçalho</a>
            </li>
            <li><a routerLink="edit-cardapio">Cardapio</a></li>
            <li id="ultimo"><a routerLink="funcionario" >Funcionarios</a></li>-->
        </ul>
    </nav>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</div>

