

.container-story{
    font-family: 'Arbutus Slab', serif;
    min-height: 70vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.divisao{
    width: 50%;
}

.esquerdo{
    display: flex;
    justify-content: end;
    align-items: center;
}

.retangulo{
    width: 400px;
    height: 600px;
    background-color: #FBBAAC;
}

.container-img{
    position: absolute;
    top: 54px;
    left: 475px;

}

img{
    width: 400px;
    height: 600px;
}

.direito{
    margin: auto 50px;
    width: 500px;
    height: 600px;
    text-align: justify;
}

.top{
    margin: 30px;
    font-family: 'Artubus';
    text-align: center;
}

strong{
    color: #FBBAAC;
}


h2{
    font-size: 1em;
}

.story > p{
    padding: 10px;
    color: rgb(114, 114, 114);
}

.buttom{
    padding: 20px;
    text-align: center;
}

.linkcardapio{
    color: black;
    font-size: 0.8em;
    padding: 20px 40px;
}

.linkcardapio:hover{
    color: white;
}

@media screen and (max-width: 767px) {

    .container-story{
        flex-direction: column;
        min-height: auto;
        margin: 10px 0px;
    }

    .divisao{
        width: 100%;
    }


    .esquerdo{
        display: none;
        order: 2;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    .retangulo{
        display: none;
        width: 200px;
        height: 300px;
        background-color: #FBBAAC;
    }
    
    .container-img{
        position: absolute;
        top: 30px;
        left: 25%;
        display: none;
    }
    
    img{
        display: none;
        width: 200px;
        height: 300px;
    }
    
    .direito{
        order: 1;
        margin: 0;
        width: 100%;
        height: 100%;
    }


    .container-story{
        width: 100%;
    }

    .story{
        width: 100%;
        font-size: 0.8em;
    }

    .top{
        margin: 0px;
        font-family: 'Artubus';
        text-align: center;
    }

    h2{
        font-size: 0.8;
    }

    
    
}

@media screen and (min-width: 768px) and (max-width: 962px) {

    .container-story{
        margin: auto;
        min-height: 60vh;
    }

    .container-img{
        position: absolute;
        top: 190px;
        left: 22px;
        display: block;
    }

    img{
        width: 250px;
        height: 425px;
    }

    .retangulo{
        position: absolute;
        top: 175px;
        left: 10px;
        width: 250px;
        height: 425px;
    }

    .direito{
        order: 1;
        margin: auto;
    }

}