<div class="container-story">
    <div class="divisao esquerdo">
        <div class="retangulo"></div>
        <div class="container-img"><img src="https://raw.githubusercontent.com/LeoCMatos/Hamburgueria/main/hamburgueria/src/img/chef.jpg" alt=""></div>
    </div>
    <div class="divisao direito">
            <div class="top">
                <h1>Bem-vindo ao <strong>BurguerArt</strong></h1>
                <h2>Sobre BurguerArt</h2>
        </div>
        <div class="story">
            <p>No coração da cidade, o "Burguer Art" é um oásis culinário onde cada hambúrguer é uma verdadeira obra de arte. Com uma paleta de ingredientes frescos e uma pitada de criatividade, este pequeno restaurante elevou o simples hambúrguer a um patamar superior. Seja você um amante de clássicos suculentos ou aventuras gastronômicas ousadas, o "Burguer Art" oferece uma variedade de opções para satisfazer todos os paladares. Cada hambúrguer é uma experiência única, onde a comida se transforma em arte, e o sabor é a principal atração.</p>
            <p>Desde os elogios dos críticos gastronômicos até a felicidade evidente dos clientes, o "Burguer Art" é um lugar onde a paixão culinária é evidente em cada mordida. Venha se juntar a nós nesta jornada culinária, onde a criatividade e a inovação transformam o comum em extraordinário, e cada visita ao "Burguer Art" é uma celebração da arte de saborear.
            </p>
        </div>
        <p class="buttom"><a class="linkcardapio" routerLink="/cardapio">Cardapio</a></p>      

    </div>


</div>