.top-cardapio{
    width: 100%;
    min-height: 100vh;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Arbutus Slab', serif;
}

.container{
    width: 60%;
    margin: auto;
}

.texto{
    text-align: center;
}

.container-navbar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin: 10px 0px;
    border: none;
    padding: 10px;
    background-color: white;
    font-size: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    border-top: 1px solid rgba(0, 0, 0, 0.24);
    transition: 0.4s;
}

.esquerda{
    border-left: 1px solid rgba(0, 0, 0, 0.24);
}

.direita{
    border-right: 1px solid rgba(0, 0, 0, 0.24);
}

.nav-item:hover{
    background-color: #FBBAAC;
    color: white;
    transition: 0.4s;
    border-radius: 6px;
}

.ativo{
    background-color: #FBBAAC;
    color: white;
    transition: 0.4s;
    border-radius: 6px;
}

.all{
    display: none;
}

.lanches{
    display: none;
}

.container-produtos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card{
    display: none;
}

.card-ativo{
    display: block;
}

.card  > div > img{
    width: 350px;
    height: 210px;
    margin: 15px;
}

.title{
    text-align: center;
    font-size: 1.3em;
    
}

.price{
    font-size: 1.3em;
    padding-left: 15px;
}

p{
    margin-left: 15px; 
}


@media screen and (max-width: 767px) {


    .top-cardapio{
        width: 100vw;
    }
    
    .container{
        width: 60%;
        margin: auto;
        font-size: 0.8em;
    }
    
    .texto{
        text-align: center;
    }
    
    .container-navbar{
        width: 100%;
        display: flex;
        justify-content: center;
        
    }
    
    .navbar{
        margin: 10px;
        display: flex;
        flex-direction: row;
        
    }
    
  
    
    .esquerda{
        border-left: 1px solid rgba(0, 0, 0, 0.24);
        
    }
    
    .direita{
        border-right: 1px solid rgba(0, 0, 0, 0.24);
        
    }
    
    .nav-item:hover{
        background-color: #FBBAAC;
        color: white;
        transition: 0.4s;
        border-radius: 6px;
    }
    
    .ativo{
        background-color: #FBBAAC;
        color: white;
        transition: 0.4s;
        border-radius: 6px;

    }
    
    .all{
        display: none;
    }
    
    .lanches{
        display: none;
    }

    .container{
        width: 100%;
    }
    
    .container-produtos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }
    
    
    .card  > div > img{
        width: 345px;
        width: 345px;
        margin: 15px;
    }
    
    .title{
        text-align: center;
        font-size: 1.3em;
        
    }
    
    .price{
        font-size: 1.3em;
        padding-left: 15px;
    }
    
    p{
        margin-left: 15px; 
    }
    

}

@media screen and (min-width: 768px) and (max-width: 962px) {

    .container{
        width: 100%;
        margin: auto;
    }

    .container-produtos{
        width: 95%;
        margin: auto;
    }
}