<div class="top-cardapio">
    <div class="container">
        <div class="texto">
            <h1>Cardapio</h1>
            <p>O Cardapio que vai conquistar o seu paladar!</p>
        </div>
        <div >
            <ul class="container-navbar">
                <li><button (click)="todos()"  class="nav-item esquerda" [ngClass]="{'ativo': all}">Todos</button></li>
                <li><button (click)="lanches()" class="nav-item" [ngClass]="{'ativo': burger}">Lanches</button></li>
                <li><button (click)="bebidas()" class="nav-item" [ngClass]="{'ativo': drinks}">Bebidas</button></li>
                <li><button (click)="acompanhamentos()" class="nav-item direita" [ngClass]="{'ativo': addOns}">Acompanhamentos</button></li>
            </ul>
        </div>
        <div class="container-produtos" >
            <div class="card" [ngClass]="{'card-ativo': all}" *ngFor="let hamburguer of dadosLanches" routerLink="/produto/{{hamburguer.ID}}">
                    <div>
                        <img src={{hamburguer.Imagem}}>
                        <h1 class="title">{{hamburguer.Nome}}</h1>
                        <div *ngIf="hamburguer.Preco <  hamburguer.Promocao && hamburguer.Ativar_Promocao === 0  else promoAtiva">
                            <p >R$: {{hamburguer.Preco}}  </p>     
                        </div>
                        <ng-template #promoAtiva>
                            <div *ngIf="(hamburguer.Preco - hamburguer.Promocao) > 0 && hamburguer.Ativar_Promocao === 1 else promoInvalida">
                                <p >De: <del>R$: {{hamburguer.Preco}}</del></p> 
                                <p>Por: R$ {{hamburguer.Promocao}}</p>        
                            </div>
                        </ng-template>
                        <ng-template #promoInvalida>
                            <div>
                                <p >R$: {{hamburguer.Preco}}  </p>     
                            </div>
                        </ng-template>
                    </div>
            </div>
            <div class="card" [ngClass]="{'card-ativo': all}" *ngFor="let hamburguer of dadosBebidas" routerLink="/produto/{{hamburguer.ID}}">
                <div>
                    <img src={{hamburguer.Imagem}}>
                    <h1 class="title">{{hamburguer.Nome}}</h1>
                    <div class="linha" *ngIf="hamburguer.Preco <  hamburguer.Promocao && hamburguer.Ativar_Promocao === 0  else promoAtiva">
                        <p >R$: {{hamburguer.Preco}}  </p>     
                    </div>
                    <ng-template #promoAtiva>
                        <div *ngIf="(hamburguer.Preco - hamburguer.Promocao) > 0 && hamburguer.Ativar_Promocao === 1 else promoInvalida">
                            <p >De: <del>R$: {{hamburguer.Preco}}</del></p> 
                            <p>Por: R$ {{hamburguer.Promocao}}</p>        
                        </div>
                    </ng-template>
                    <ng-template #promoInvalida>
                        <div>
                            <p >R$: {{hamburguer.Preco}}  </p>     
                        </div>
                    </ng-template>
                </div>
            </div>   
            <div class="card" [ngClass]="{'card-ativo': all}" *ngFor="let hamburguer of dadosAcompanhamentos" routerLink="/produto/{{hamburguer.ID}}">
                <div>
                    <img src={{hamburguer.Imagem}}>
                    <h1 class="title">{{hamburguer.Nome}}</h1>
                    <div *ngIf="hamburguer.Preco <  hamburguer.Promocao && hamburguer.Ativar_Promocao === 0  else promoAtiva">
                        <p >R$: {{hamburguer.Preco}}  </p>     
                    </div>
                    <ng-template #promoAtiva>
                        <div *ngIf="(hamburguer.Preco - hamburguer.Promocao) > 0 && hamburguer.Ativar_Promocao === 1 else promoInvalida">
                            <p >De: <del>R$: {{hamburguer.Preco}}</del></p> 
                            <p>Por: R$ {{hamburguer.Promocao}}</p>        
                        </div>
                    </ng-template>
                    <ng-template #promoInvalida>
                        <div>
                            <p >R$: {{hamburguer.Preco}}  </p>     
                        </div>
                    </ng-template>
                </div>
            </div>         

            <div class="card" [ngClass]="{'card-ativo': burger}" *ngFor="let hamburguer of dadosLanches">
                <div>
                    <img src={{hamburguer.Imagem}}>
                    <h1 class="title">{{hamburguer.Nome}}</h1>
                    <div *ngIf="hamburguer.Preco <  hamburguer.Promocao && hamburguer.Ativar_Promocao === 0  else promoAtiva">
                        <p >R$: {{hamburguer.Preco}}  </p>     
                    </div>
                    <ng-template #promoAtiva>
                        <div *ngIf="(hamburguer.Preco - hamburguer.Promocao) > 0 && hamburguer.Ativar_Promocao === 1 else promoInvalida">
                            <p >De: <del>R$: {{hamburguer.Preco}}</del></p> 
                            <p>Por: R$ {{hamburguer.Promocao}}</p>        
                        </div>
                    </ng-template>
                    <ng-template #promoInvalida>
                        <div>
                            <p >R$: {{hamburguer.Preco}}  </p>     
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="card" [ngClass]="{'card-ativo': drinks}" *ngFor="let hamburguer of dadosBebidas">
                <div>
                    <img src={{hamburguer.Imagem}}>
                    <h1 class="title">{{hamburguer.Nome}}</h1>
                    <div *ngIf="hamburguer.Preco <  hamburguer.Promocao && hamburguer.Ativar_Promocao === 0  else promoAtiva">
                        <p >R$: {{hamburguer.Preco}}  </p>     
                    </div>
                    <ng-template #promoAtiva>
                        <div *ngIf="(hamburguer.Preco - hamburguer.Promocao) > 0 && hamburguer.Ativar_Promocao === 1 else promoInvalida">
                            <p >De: <del>R$: {{hamburguer.Preco}}</del></p> 
                            <p>Por: R$ {{hamburguer.Promocao}}</p>        
                        </div>
                    </ng-template>
                    <ng-template #promoInvalida>
                        <div>
                            <p >R$: {{hamburguer.Preco}}  </p>     
                        </div>
                    </ng-template>
                </div>
            </div>

            <div class="card" [ngClass]="{'card-ativo': addOns}" *ngFor="let hamburguer of dadosAcompanhamentos">
                <div>
                    <img src={{hamburguer.Imagem}}>
                    <h1 class="title">{{hamburguer.Nome}}</h1>
                    <div *ngIf="hamburguer.Preco <  hamburguer.Promocao && hamburguer.Ativar_Promocao === 0  else promoAtiva">
                        <p >R$: {{hamburguer.Preco}}  </p>     
                    </div>
                    <ng-template #promoAtiva>
                        <div *ngIf="(hamburguer.Preco - hamburguer.Promocao) > 0 && hamburguer.Ativar_Promocao === 1 else promoInvalida">
                            <p >De: <del>R$: {{hamburguer.Preco}}</del></p> 
                            <p>Por: R$ {{hamburguer.Promocao}}</p>        
                        </div>
                    </ng-template>
                    <ng-template #promoInvalida>
                        <div>
                            <p >R$: {{hamburguer.Preco}}  </p>     
                        </div>
                    </ng-template>
                </div>
            </div>

        </div>
    </div>
</div>