<div class="header">
    <div class="container-nav">
        <nav>
            <ul>
             <!--  <li><a href="#">Home</a></li> -->
                 <li><a routerLink="cardapio">Cardapio</a></li>
            <!--    <li><a href="#">Lançamentos</a></li>-->
               <!--  <li><a href="#">Quem somos</a></li>-->
            </ul>
        </nav>
        <div id="letreiro">
        <h1>Burguer</h1>
        <h2>Art</h2>
        </div>
        <img class="logo" src="https://cdn-icons-png.flaticon.com/128/2674/2674087.png" alt="Hamburguer">
    </div>
</div>
<div class="container">
    <div class="router">
        <router-outlet></router-outlet>
    </div>
<div>

    <div>
        <img src="" style="width: 140px;">
    </div>