/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

li{
 list-style: none;
}

a{
    text-decoration: none;
}

.linkcardapio{
    border: 1px solid #FBBAAC;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 0.4em;
    color: white;
    transition: 0.4s;
}

.linkcardapio:hover{
    background-color: #FBBAAC;
    transition: 0.4s;
}