<div class="slide">
    <img src="https://raw.githubusercontent.com/LeoCMatos/Hamburgueria/main/hamburgueria/src/img/menu-1_resized.png" alt="">
    <div class="container">
        <h1 id="title"><strong>Bem-vindo ao <br> Burguer Art</strong> </h1>
        <p id="description">No Burguer Art, criamos hambúrgueres excepcionais com paixão. Explore nosso menu e personalize sua experiência culinária. Sabor que cativa.</p>
        <p><a class="linkcardapio" routerLink="/cardapio">CARDAPIO</a></p>      
    </div>  
</div>