.container{
    height: 799px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; 
}


.container-form {
    width: 400px;
    background-color: #FBBAAC;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#form {
    margin: 15px;
    text-align: center;
}

#form > h2 {
    color: black;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
}

.form-group {
    text-align: start;
    margin: 10px 0;
}


label {
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: white;
    transition: 0.7s;
    color: black;
}

.error{
    color: red;
}